body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('./mountain1.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}