{% extends 'base.html' %}
{% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">MATDONGSAN</span>
</div>
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome to <strong>MATDONGSAN</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>100대 명산</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="/board/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i> Home</a>
      <a href="/board/list/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i> 100대 명산 </a>
      <a href="/board/list/" class="w3-bar-item w3-button w3-padding"> &nbsp&nbsp&nbsp ㄴ 명산 상세보기 </a>
      <a href="/board/goodpricelist/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i> 착한 맛집</a>
      <a href="/board/goodpricelist/" class="w3-bar-item w3-button w3-padding w3-blue"> &nbsp&nbsp&nbsp ㄴ 맛집 상세보기 </a>
      
    </div>
  </nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">




<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container" style="margin-top:20px">
  <h2> &nbsp <u> Description </u> </h2>
  <p/>
  <form name="form">
  <table class="w3-table w3-bordered">
  	<colgroup>
  		<col width="25%"/>
  		<col width="*"/>
  	</colgroup>
    <div class="row">
        <div class="col">
            {% for g in gp_list %}
        </div>
        <div class="col">
    <tbody>
      <tr>
      	<td>업소명</td>
        <td>{{g.TITLE}}</td>
     </tr>
      <tr>
      	<td>주소</td>
        <td>{{g.ADDRESS}}m</td>
     </tr>      
      <tr >
        <td>업종</td>
        <td>{{g.SECTOR}}</td>
     
      </tr>
      <tr >
        <td>주요품목</td>
        <td>{{g.MAIN}}</td>
      </tr>
      <tr >
        <td>상세정보</td>
        <td>{{g.MEMO | linebreaksbr}} </td>
      </tr>
      <tr >
        <td>배달가능 여부</td>
        <td>{{g.DELIV}} </td>
      </tr>
      <tr >
        <td>주차가능 여부</td>
        <td>{{g.PARK}} </td>
      </tr>
       
        {% endfor %}
      </tbody>
    </table>   
  </p>
  </p>
  </p>
  </p>
  </p>
    <div class="col">
            {{ mountain_map|safe }}
        </div>
    
     
        
  	<div class="container" style="text-align:right">
	  <div class="btn-group">
	  
		  <button type="button" class="btn btn-primary" onclick="goList()">목록</button>
	  </div>
	</div>
</form>	
</div>

<script>
function goModify(){
  //document-html 문서를 말하고 document에 name속성이 form인 객체를 가져와라 
  frm = document.form; 
  frm.action="/board/modify/{{board.id}}";
  frm.method="get";
  frm.submit();
}

function goList(){
  location.href="/board/goodpricelist"; //get방식으로 페이지 넘길때

  /*
  frm = document.form; 
  frm.action="/board/list/";
  frm.method="get";
  frm.submit();
  */
}

function goDelete()
{
  frm = document.form; 
  frm.action="/board/delete/{{board.id}}";
  frm.method="get";
  frm.submit();
}

</script>




<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>





{% endblock %}